$backgroundColor: white;
$primColor: blue;


.Container{
    margin: auto;
    width: 60%;
    padding: 16px;
    h1, p{
        text-align: center;
    }
    button{
        width:100%;
      cursor: pointer;
        padding: 10px;
        border-radius:50px;
        background-color: $primColor;
      color: $backgroundColor;
      }
      &:hover{
        opacity:0.9;
      }      
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  &:focus{
    background-color: #ddd;
    border:none;
  }
}